[submodule ".config/ulauncher/user-themes/one-dark-ulauncher"]
	path = .config/ulauncher/user-themes/one-dark-ulauncher
	url = https://github.com/sudosubin/one-dark-ulauncher.git
[submodule ".config/kitty/kitty-themes"]
	path = .config/kitty/kitty-themes
	url = https://github.com/dexpota/kitty-themes.git
